:root {
  --accent-color: #2196f3;
  --hero-btncolor: #2196f3;
  --blue-logo: #2196f3;
  --black-logo: #000000;
  --white-logo: #ffffff;
  --hero-background: #2f303a;
  --white-text: #ffffff;
  --main-background: #ffffff;
  --team-backround: #f5f4fa;
  --title-name: #212121;
  --title-text: #757575;
  --footer-color: #2f303a;
  --border-one: #ececec;
  --border-two: #eeeeee;
  --soc-icon: #afb1b8;
  --soc-footer-background: rgba(255, 255, 255, 0.1);
  --accent-color-portfolio: rgba(33, 150, 243, 0.9);
  --overlay: rgba(0, 0, 0, 0.2);
  --our-work-cover: rgba(47, 48, 58, 0.8);
  --modal-button-send-accent: #188ce8;
}
li {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  font-style: normal;
}

.logo-link {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--main-background);
}

.active-page {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.active-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1%;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.active {
  position: relative;
}

/*--------- index -----------*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header .container {
  display: flex;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hero {
  background: var(--hero-background);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.png);
  width: 1600px;
  margin: 0 auto;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  /* or 136% */

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-text);

  margin: 0px auto 30px auto;
  width: 696px;
}
.hero-button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  font-family: "Roboto", sans-serif;
  /* identical to box height, or 188% */

  align-items: center;

  letter-spacing: 0.06em;
  background-color: var(--hero-btncolor);
  color: var(--white-text);
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  background-color: var(--main-background);
  padding-bottom: 94px;
  padding-top: 94px;
}
.section-three {
  background-color: var(--main-background);
  padding-bottom: 94px;
}

.section-team {
  background: var(--team-backround);
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-name);
  margin-bottom: 50px;
}

.clients-icons {
  display: flex;
}
.clients-icons-item {
}
.client-link {
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--soc-icon);
  box-sizing: border-box;
  border-radius: 4px;

  align-items: center;
  justify-content: center;
  fill: var(--soc-icon);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, fill;
}
.client-link:hover,
.client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-icons-item + .clients-icons-item {
  margin-left: 30px;
}

.features-icons {
  display: flex;

  width: 270px;
  height: 120px;
  background-color: var(--team-backround);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.features-icons-item {
}

.features-icons-item + .features-icons-item {
  margin-left: 30px;
}

.features-text {
  display: flex;
}

.features-text li {
  display: block;
  width: 270px;
}

.features-text-margin + .features-text-margin {
  margin-left: 30px;
}

.pre-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-name);
  display: block;
  margin-bottom: 10px;
}
.pre-title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--title-text);
  display: block;
}
.our-work-images {
  display: inline-flex;

  justify-content: space-between;
}

.our-work {
  position: relative;
}

.our-work-cover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  color: var(--white-text);
  background: var(--our-work-cover);
}
.our-work-images li:not(:last-child) {
  margin-right: 30px;
}
.card-content {
  background-color: var(--main-background);
  padding: 30px 32px 30px 32px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
}
.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  background-color: var(--main-background);

  align-items: center;
  justify-content: center;
  fill: var(--soc-icon);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
}
.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-text);
}

.soc-list-footer {
  display: flex;
}

.soc-item-footer {
}
.soc-link-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  background-color: var(--soc-footer-background);

  align-items: center;
  justify-content: center;
  fill: var(--white-logo);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.soc-item-footer + .soc-item-footer {
  margin-left: 10px;
}

.soc-link-footer:hover,
.soc-link-footer:focus {
  background-color: var(--accent-color);
}
.button:focus,
.button:hover {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-name);
  margin-bottom: 10px;
}
.team-member-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text);
  margin-bottom: 16px;
}
.team-member-img {
}
.our-team {
  display: flex;
  margin-left: -30px;
}
.our-team > .our-member {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.our-member {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/*--------- portfolio -----------*/

.header {
  background: var(--main-background);
  height: 80px;
}

.nav {
  display: flex;
  margin-right: auto;
}
.site-nav {
  display: flex;
}

.contacts-nav {
  display: flex;
  align-items: center;
}

.contacts-nav :hover,
.contacts-nav:focus {
  fill: var(--accent-color);
}
.mail-icon,
.phone-icon {
  margin-right: 10px;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}
.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-nav li {
  display: block;
}
.contacts-nav li:not(:last-child) {
  margin-right: 50px;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo-footer {
  display: flex;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  margin-bottom: 20px;
}
.logo-blue {
  color: var(--blue-logo);
}
.logo-black {
  color: var(--black-logo);
}
.logo-white {
  color: var(--white-logo);
}

.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-name);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.header {
  border-bottom: 1px solid var(--border-one);
}

.header-contacts:hover,
.header-contacts:focus {
  fill: var(--accent-color);
}

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  color: var(--title-text);
  display: flex;
  fill: var(--title-text);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, fill;
}
.header-contacts a:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.main {
  background: var(--main-background);
}
.buttons-portfolio {
  display: flex;

  margin-bottom: 50px;
  justify-content: center;
}
.buttons-portfolio li:not(:last-child) {
  margin-right: 8px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  /* identical to box height, or 162% */

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-name);
  display: block;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--team-backround);
  padding: 6px 22px 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color, box-shadow;
}
.button-selected {
  color: var(--white-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-content {
  background-color: var(--main-background);

  background-color: var(--portfolio-item);
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--border-two);
  border-top: 0;
}

.our-portfolio {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}
.our-portfolio > .portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  font-style: normal;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item {
}

.portfolio-item:hover .portfolio-image-cover {
  transform: translateY(0);
}
.portfolio-link:focus .portfolio-image-cover {
  transform: translateY(0);
}

.portfolio-img {
}

.portfolio-image-cover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */

  letter-spacing: 0.03em;
  color: var(--white-text);
  /* color: var(--white-text); */
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color-portfolio);
  padding: 63px 24px 63px 24px;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cover-wrap {
  position: relative;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--title-name);
  margin-bottom: 4px;
}
.portfolio-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */

  letter-spacing: 0.03em;

  color: var(--title-text);
}

.strong-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text);
  display: block;
  margin-bottom: 20px;
}

.soc-footer {
  display: block;
}

.footer {
  background: var(--footer-color);
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--white-text);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.footer-items:not(:last-child) {
  margin-bottom: 9px;
}

.footers {
  display: flex;
  align-items: baseline;
}
.footer-one {
  margin-right: 70px;
}
.footer-two {
  margin-right: 93px;
}
.footer-three {
}
.footer-subscribe {
  display: flex;
}
.footer-email {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: 358px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  display: block;
  color: var(--white-text);
}
.footer-send {
  fill: var(--white-text);
  margin-left: 10px;

  align-items: center;
  justify-content: center;
}
.subscribe-btn {
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;

  letter-spacing: 0.06em;
  color: var(--white-text);

  border-radius: 4px;
  transition: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-email:focus,
.footer-email:hover {
  border-color: var(--accent-color);
  outline: none;
  color: var(--white-text);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--main-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden > .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
}
.modal > .backdrop.is-hidden {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(0.9);
}
.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--main-background);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.modal-form {
}

.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-name);
  margin-bottom: 12px;
}

.modal-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding-left: 42px;
  background-color: transparent;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  cursor: pointer;
  fill: var(--title-name);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.modal-input-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.01em;
  color: var(--title-text);
  cursor: pointer;
  position: relative;

  display: block;
  
  
}
.modal-input-title + .modal-input-title {
  margin-top: 10px;
}
.modal-input-comment-title{
  margin-bottom: 20px;
}

.input-wrap {
  position: relative;
}

.modal-input-comment {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  left: 0;
  top: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  resize: none;
  cursor: pointer;
  padding: 12px 16px 12px 16px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}
.modal-input-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-lic-terms {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-button-send {
  background: var(--accent-color);

  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: block;
  letter-spacing: 0.06em;
  color: var(--white-text);
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow, background-color;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.modal-button-send:hover,
.modal-button-send:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: var(--modal-button-send-accent);
}

.input-wrap-comment {
  position: relative;
  margin-bottom: 20px;
}

.input-icon {
  left: 12px;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  transform: translateY(-50%);
  top: 50%;
  display: inline-block;
  position: absolute;
}

.modal-input:focus,
.modal-input:hover,
.modal-input-comment:focus,
.modal-input-comment:hover {
  border-color: var(--accent-color);

  outline: none;
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.modal-input:hover + .input-icon {
  fill: var(--accent-color);
}

.modal-confirm-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-confirm-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-name);
  border-radius: 2px;
  margin-right: 7px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.modal-confirm {
  margin-bottom: 30px;
}

.modal-confirm:focus + .modal-confirm-text::before {
  border-color: var(--accent-color);
}

.modal-confirm:checked + .modal-confirm-text::before {
  background-color: var(--accent-color);
  border: transparent;
  background-image: url(../images/backdrop-check.svg);
  background-position: center;
  background-size: contain;
}

.input-wrap-confirm {
  position: relative;
  margin-bottom: 30px;
}
